{% comment %}
  Renders price block for product card. Matches Figma: compare-at strikethrough + sale price red,
  horizontal layout with 8px gap.

  Accepts:
    - product: {Object} Product Liquid object
    - section_id: {String} Parent section id
    - current_variant_id: {Number} Currently rendered variant id
{% endcomment %}

{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  for v in product.variants
    if v.id == current_variant_id
      assign current_variant = v
      break
    endif
  endfor

  assign on_sale = false
  if current_variant.compare_at_price > current_variant.price
    assign on_sale = true
  endif

  assign price_class = 'pcc__price'
  if on_sale
    assign price_class = price_class | append: ' pcc__price--sale'
  endif
-%}

<div class="{{ price_class }}" data-pcc-price>
  {%- if on_sale -%}
    <span class="pcc__price-compare" data-pcc-compare>
      <s aria-label="{{ 'products.product.price.regular_price' | t }}">
        <span data-pcc-compare-amount>{{ current_variant.compare_at_price | money }}</span>
      </s>
    </span>
    <span class="pcc__price-current pcc__price-current--sale" data-pcc-current>
      <span data-pcc-current-amount>{{ current_variant.price | money }}</span>
    </span>
  {%- else -%}
    <span class="pcc__price-current" data-pcc-current>
      <span data-pcc-current-amount>{{ current_variant.price | money }}</span>
    </span>
  {%- endif -%}
</div>